<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<string>3 + 2</string>
		<string>7 * 5</string>
		<string>8 / 2</string>
		<string>7 - 5</string>
		<string>2 * 10</string>
		<string>22 - 11</string>
		<string>70 / 10</string>
		<string>8 * 10</string>
		<string>15 - 5</string>
		<string>-7 + 7</string>
		<string>-3 + 5</string>
		<string>8 - 10</string>
		<string>4 * 3</string>
		<string>4 * 4</string>
		<string>18 / 2</string>
		<string>-22 / 2</string>
		<string>3 * 3</string>
		<string>8 + 7</string>
		<string>9 + 9</string>
		<string>12 - 6</string>
		<string>42 - 4</string>
		<string>100 - 15</string>
	</array>
</dict>
</plist>
