<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<string>2 - 5</string>
		<string>6 - 3</string>
		<string>10 - 5</string>
		<string>-1 - 2</string>
		<string>-4 - 2</string>
		<string>4 - 2</string>
		<string>15 - 5</string>
		<string>23 - 7</string>
		<string>24 - 4</string>
		<string>8 - 6</string>
		<string>35 - 15</string>
		<string>18 - 10</string>
		<string>12 - 6</string>
		<string>16 - 4</string>
		<string>22 - 3</string>
		<string>12 - 11</string>
		<string>22 - 11</string>
		<string>13 - 13</string>
		<string>42 - 33</string>
		<string>13 - 7</string>
		<string>4 - 5</string>
		<string>12 - 20</string>
		<string>35 - 25</string>
		<string>16 - 12</string>
		<string>17 - 4</string>
	</array>
</dict>
</plist>
